* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(228, 228, 228);
  display: flex;
  justify-content: center;
}
.tevas {
  width: 150vh;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  padding: 5rem;
}
.page-wrapper {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.featured-plans {
  /* margin-top: 40px; */
}

.explore-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.explore-container h2 {
  font-size: 22px;
}

.explore-all {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.plans-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 220px;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  color: black;
  position: relative;
}

.card h3 {
  font-size: 18px;
}

.card p {
  font-size: 14px;
  color: gray;
}

.card span {
  display: block;
  margin-top: 10px;
  font-size: 12px;
}

.card strong {
  font-size: 20px;
  display: block;
  margin-top: 5px;
}

.card-btn1 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px none;
  border-radius: 5px;
  font-size: 16px;
}
.card-btn1:hover {
  cursor: pointer;
  scale: 1.05;
  transition: 0.3s;
  background-color: gray;
}

.card-btn2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px none;
  border-radius: 5px;
  font-size: 16px;
}
.card-btn2:hover {
  cursor: pointer;
  scale: 1.05;
  transition: 0.3s;
  background-color: gray;
}
.card-btn3 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px none;
  border-radius: 5px;
  font-size: 16px;
}
.card-btn3:hover {
  cursor: pointer;
  scale: 1.05;
  transition: 0.3s;
  background-color: gray;
}
.card-btn4 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px none;
  border-radius: 5px;
  font-size: 16px;
}
.card-btn4:hover {
  cursor: pointer;
  scale: 1.05;
  transition: 0.3s;
  background-color: gray;
}

.green {
  background-color: rgb(168, 240, 198);
}

.black {
  background-color: rgb(27, 27, 27);
  color: white;
}

.purple {
  background-color: rgb(224, 194, 252);
}

.yellow {
  background-color: rgb(253, 245, 166);
}

.separator {
  width: 100%;
  height: 2px;
  background-color: rgb(224, 224, 224);
  margin: 30px 0;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.next-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.next-btn:hover {
  background-color: gray;
  cursor: pointer;
  transition: 0.3s;
  scale: 1.05;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.header-right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.white {
  border: 1px solid grey;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
}

.black {
  border: 1px solid grey;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
}

.header-left {
  /* display: flex;
  gap: 1rem; */
}

.logo {
  font-weight: 700;
}

.stripes {
  border: 2px solid black;
  width: 16px;
  height: 13px;
  border-left: none;
  border-right: none;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.7rem;
  font-weight: 100;
  color: rgb(44, 43, 43);
}

.email-box {
  display: flex;
  gap: 5px;
}

input {
  border: 1px solid black;
  border-radius: 2rem;
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

.email-button {
  border: 1px solid black;
  border-radius: 2rem;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  background-color: black;
  color: white;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: gray;
  transition: 0.3s;
  scale: 1.05;
}
